<div class="apresentation d-flex flex-column align-items-center">
  <img src="{{ "/assets/base/contramare-logo-circle.png" | prepend: site.baseurl }}" class="img-fluid pb-5" width="650px" height="auto" alt="">
  <p class="mb-2 text-center">Fácil é seguir o fluxo, difícil é ir contra a maré</p>

  <hr class="mb-3">

  <div class="social-icons container d-flex flex-row justify-content-evenly">
      <p title="Ainda não temos um Instagram" data-bs-toggle="popover" data-bs-placement="top" data-content="Content" style="font-size: 25px;"><i class="bi bi-instagram"></i></p>
      <p title="Ainda não temos um Facebook" data-bs-toggle="popover" data-bs-placement="top" data-content="Content" style="font-size: 25px;"><i class="bi bi-facebook"></i></p>
      <p title="Ainda não temos um Twitter" data-bs-toggle="popover" data-bs-placement="top" data-content="Content" style="font-size: 25px;"><i class="bi bi-twitter"></i></p>
  </div>
</div>