<div class="d-flex flex-column align-items-center">
  <div class="apresentation d-flex flex-column align-items-center">
    <img src="/assets/base/contramare-logo-dark.png" class="img-fluid pb-5" width="650px" height="auto" alt="">
    <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius provident quas voluptatem aliquam iste expedita, hic ea deleniti itaque voluptas, odit neque obcaecati atque consequuntur perferendis deserunt earum tempora maxime!</p>

    <hr class="mb-3">

    <div class="socialIcons container d-flex flex-row justify-content-evenly">
        <p style="font-size: 25px;"><i class="bi bi-instagram"></i></p>
        <p style="font-size: 25px;"><i class="bi bi-facebook"></i></p>
        <p style="font-size: 25px;"><i class="bi bi-twitter"></i></p>
    </div>
  </div>
</div>