<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ "/assets/base/contramare-icon-light.svg" | prepend: site.baseurl }}" sizes="32x32" type="image/png">
  <title>{{ site.title }}</title>

  <meta name="author" content="Neylon Santos">
  <meta name="robots" content="noodp">
	<meta name="reply-to" content=" {{ site.email }}">

  <!-- BOOTSTRAP -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

  <!-- Fonts & Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--MY FILES -->
  <script src="{{ "/assets/js/addons.js" | prepend: site.baseurl }}"></script>
  <link rel="stylesheet" href="{{ "/assets/css/post.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/header.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/footer.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/categories.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/quote.css" | prepend: site.baseurl }}">
</head>