<header class="masterHeader">

  <div class="subHeader container pt-4 pb-3 d-flex flex-column align-items-center">

    <div class="logo">
      <!-- <img src="/assets/base/contramare-logo-name-dark.svg" class="img-fluid" width="200px" height="auto" alt=""> -->
    </div>

    <!-- <hr> -->

    <button onclick="show()" class="menuBtn" type="submit"> <i class="bi bi-list"></i> </button>

    <nav class="menu mt-2">
      <ul id="menu" class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">INÍCIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contato">CONTATO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="blog">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sobre">SOBRE</a>
        </li>
      </ul>
    </nav>
  </div>
</header>