<header class="master-header">

  <div class="sub-header container pt-4 pb-3 d-flex flex-column align-items-center">

    {% if page.url == '/blog/' or page.url == '/contact/' %}
    <div class="header-logo">
      <a href="{{ site.baseurl }}/" aria-label="Contramaré">
        <img src="{{ '/assets/base/contramare-line.png' | prepend: site.baseurl }}" alt="Contramaré" loading="lazy">
      </a>
    </div>
    {% endif %}

    <button onclick="show()" class="menu-btn" type="button" aria-label="Abrir menu">
      <i class="bi bi-chevron-down menu-icon-down"></i>
      <i class="bi bi-x-lg menu-icon-close"></i>
    </button>

    <nav class="menu mt-2">
      <ul id="menu" class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/">INÍCIO</a>
        </li>
        {% if site.features.contact_page %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/contact/">CONTATO</a>
        </li>
        {% endif %}
        {% if site.features.blog_page %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/blog/">BLOG</a>
        </li>
        {% endif %}

        {% if site.features.about_page %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/about/">SOBRE</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>