.thumb {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.main .allPublications .card .card-title {
  color: #2789ce;
}

.main .allPublications .card .card-title:hover {
  color: #69c6ffff;
}

.main .allPublications .card a {
  text-decoration: none;
}