.body-quote, html{
  height: 100%;
}

.quote-block {
  height: 100%;
}

.quote-content {
  height: 75%;
}

.img-quote img {
  width: 60%;
  margin-bottom: 30px;
}

.social-icons-quote a p i {
  color: black;
}

.social-icons-quote a p i:hover {
  color: #2789ce;
}