---
layout: default
title: "Blog"
description: "Artigos provocativos que desafiam o senso comum. Reflexões sobre desenvolvimento pessoal, maturidade e crescimento consciente."
permalink: /blog/
custom_css:
  - "/assets/css/blog.css"
  - "/assets/css/tags.css"
---

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "CollectionPage",
    "name": "{{ page.title }}",
    "description": "{{ page.description }}",
    "url": "{{ page.url | prepend: site.url }}",
    "mainEntity": {
      "@type": "Blog",
      "name": "{{ site.title }} - Blog",
      "description": "{{ page.description }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
        "logo": "{{ site.vars.logo | prepend: site.url }}"
      }
    }
  }
  </script>

<div class="all-publications container">
  <div class="row g-4">
    <header class="title-page">
      <h1>Blog</h1>
      <p class="subtitle-page">Todos os artigos</p>
    </header>
    {% assign active_posts = site.data.filtered_posts | sort: 'date' | reverse %}
    {% for post in active_posts %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card blog-card h-100">
        <div class="card-image-wrapper">
          <img src="{{ post.image | prepend: site.baseurl }}" class="card-img-top blog-thumb" alt="{{ post.title }}" loading="lazy">
        </div>
        <div class="card-body d-flex flex-column">
          <div class="post-meta mb-2">
            <span class="post-date">
              <i class="bi bi-clock"></i> {{ post.date | date: "%d %b %Y" }}
            </span>
            <span class="post-category">{{ post.categories }}</span>
          </div>
          <h5 class="card-title mb-3">
            <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
              {{ post.title }}
            </a>
          </h5>
          <p class="card-text mb-3 flex-grow-1">{{ post.description }}</p>
          {% if post.tags %}
          <div class="post-tags">
            {% for tag in post.tags %}
              <span class="post-tag">{{ tag }}</span>
            {% endfor %}
          </div>
          {% endif %}
          <div class="mt-auto">
            <a href="{{ post.url | prepend: site.baseurl }}" class="btn-read-more">
              Ler mais
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
